* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
section{
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    box-shadow: 3px 8px 15px 0px rgb(0, 0, 0, 0.75);
    background: linear-gradient(245.59deg, #3d174e 0%, #362a6d 28.53%, #1b1c49 75.52%);
}
/**headerLinks*/
.header__link{
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 60px;
    line-height: 1;
    text-decoration: none;
}
.navegation {
    display: flex;
    margin-left: -70px;
}
header .navegation li a {
    display: inline-block;
    color:#fff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
header .navegation li a:hover {
    border-bottom: 2px solid #e91e63;
}
.navegation li svg {
    width: 30px;
    height: 30px;
    margin-top: -12px;
    color: #19121d;
}
.navegation li button {
    background-color: transparent;
    border: none;
}
.navegation li button:hover {
    background:transparent;
}
.navegation li button::selection {
    background: transparent;
}
.btn-outline {
    border: 1px solid;
    color: #e91e63;
    background-color: #241746;
    margin-top: 18px;
    margin-left: 140px;
    width: 39%;
    font-family: 'Permanent Marker', cursive;
    transition: all 0.5s ease;
}
.btn-outline:hover {
    background-color:#4929a1;
}
/**dropdownBoots*/
.dropdown-menu {
    width: 500px;
    height: max-content;
    background: #1a123d;
    color: white;
    
}
.dropdown-toggle::after {
    display: none;
}
#cart {
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left: 20px;
}
.lead {
    font-size: 1em;
}
.textPrice {
    margin-left: 75px;
    margin-top: 27px;
}
hr {
    color: #e91e63;;
}
#pill {
    color: #e91e63;
    position: absolute;
    margin-top: -45px;
    margin-left: 50px;
}
#dFooter {
    background: transparent;
    border: 1px solid;
    color: #e91e63;;
}
.btn-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: -30px;
    color: white;
}
.mb-0 {
    margin-top: 20px;
    margin-left: 15px;
}
/**search*/
.searchBox {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #2a1b53;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.searchBox:hover input {
    width: 200px;
}
.searchBox input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.searchBox a .bi-search{
    color: #e91e63;
    font-size: 18px;
}
/**responsiveMoldel**/
@media(min-width: 1920px) {
    header .navegation {
        padding-right: 120px !important;
    }
   
}
@media(min-width: 1024px) {
    section{
        padding: 0;
    }
    header .navegation {
        margin-right: 191px !important;
    }
}
@media(max-width: 1023px) {
    header {
        left: -50px;
        justify-content: space-between;
        width: 108%;
    }
    section {
        padding: 150px 40px;
    }
}
@media(max-width: 991px) {
    header {
        left: -50px;
        justify-content: space-between;
        width: 108%;
    }
    section {
        padding: 150px 40px;
    }
}
@media(min-width: 830px) {
    header .navegation {
        margin-right: -35px;
    }
}
@media(min-width: 768px) {
    header .navegation {
        margin-right: 35px;
    }
    .header__link {
        font-size: 45px;
    }
}
@media(max-width: 767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer {
        margin-left: -620px;
    }
    .btn-outline {
        font-size: 0.5em;
        margin-left: 100px;
        margin-top: 14px;
        width: 50%;
    }
}
@media(max-width: 740px) {
    .header__link {
        font-size: 34px;
    }
}
@media(min-width: 660px) {
    header .navegation {
        margin-left: -165px;
        margin-top: 10px;
    }
    header .list__icon {
        display: none;
    }
}
@media(min-width: 646px) {
    header .navegation {
        margin-left: -185px;
    }
    .header__link {
        margin-left: -50px;
    }
}
@media(max-width: 645px) {
    header .navegation {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 400px;
        background: #362a6d;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    header .navegation a {
        margin-left: -26px !important;
        display: block;
        margin: 20px 0;
    }
    .navegation.open {
        right: 0;
    }
    .list__icon{
        display: flex;
        position: absolute;
        left: 650px;
        color: #fff;
    }
}
@media(min-width: 630px) {
    .header__link {
        margin-right: 131px;
    }
}
@media(max-width: 574px) {
    .footer-col{
        width: 100%;
    }
}
@media(min-width: 560px) {
    .list__icon{
        left: 590px;
    }
}
@media(max-width: 557px) {
    header {
        width: 110%;
    }
    .list__icon {
        left: 525px;
     }
}
@media(max-width: 529px) {
    .slider2 {
        top: 200px;
    }
}
@media(max-width: 490px) {
    .list__icon {
        left:500px;
    }
}
@media(max-width: 465px) {
    header {
        width: 111%;
    }
    .list__icon {
        left: 450px;
    }
}
@media(min-width: 425px) {
    header {
        width: 112%;
    }
}
@media(max-width: 415px) {
    .list__icon{
        left: 400px;
    }
    header {
        width: 112%;
    }
}
@media(min-width: 375px) {
    header {
        align-items: flex-start;
        width: 114%;
    }
}
@media(min-width: 367px) {
    header {
        width: 118%;
    }
}
@media(max-width: 365px) {
    .list__icon {
        left: 390px;
    }
    header {
        width: 114%;
    }
}
@media(max-width: 366px) {
    header {
        width: 115%;
    }
}
@media(max-width: 355px) {
    .header__link {
        font-size: 25px;
    }
    .list__icon {
        left: 350px;
    }
}
@media(max-width: 330px) {
    header {
        width: 116%;
    }
}
    
